@font-face {
    font-family: logo;
    src: url(fonts/Noto_Serif_Balinese/NotoSerifBalinese-Regular.ttf);
}

@font-face {
    font-family: main-font;
    src: url(fonts/Noto_Sans_Mandaic/NotoSansMandaic-Regular.ttf);
}

@font-face {
    font-family: paragraph;
    src: url(fonts/Roboto/Roboto-Black.ttf);
}

.section h1{
    font-family: logo;
}

.section h2{
    font-family: mainfont;
}
