@import url(fonts.css);
@import url(variables.css);
@import url(images.css);
@import url(components.css);

.menu{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    max-height: 100px;
}


.menu-left{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr

}

.menu_right{

}